<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to time tracker!{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="js/dateFormat.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/sweetalert2@8.6.0/dist/sweetalert2.all.min.js"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
            <link rel="stylesheet" href="css/styles.css">
            <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/sweetalert2@8.6.0/dist/sweetalert2.min.css">
        {% endblock %}
    </head>
    <body class="nav-md">
        <div class="container body">
            <div class="main_container">
                {% block sidebar %}
                {% endblock sidebar %}
                <div class="top_nav">
                    {% block navbar %}
                    {% endblock %}
                </div>
                <div class="right_col" role="main" style="min-height: 1653px;">
                    <div class="clearfix"></div>
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}

        {% endblock %}
    </body>
</html>
